
params {
    multiqc_logo = '/mnt/cephfs8_rw/nanopore2/service/nextflow_CSP/csp_logo.png'
}

process {
    // Максимальные ресурсы на процесс
    resourceLimits = [
        memory: 512.GB,
        cpus: 240,
        time: 72.h
        ]

    shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
    ]

}

executor {
    name = 'local' // или 'local', 'sge', 'pbs', 'lsf'
    pollInterval = 1.s
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --gpus all'
    fixOwnership = true
}

env {
    PYTHONDONTWRITEBYTECODE = 1
}


timeline {
    enabled = true
    overwrite = true
    file    = "${env('NXF_LOG_D')}/${env('NXF_RUN_NAME')}-timeline.html"
}
report {
    enabled = true
    overwrite = true
    file    = "${env('NXF_LOG_D')}/${env('NXF_RUN_NAME')}-report.html"
}
trace {
    enabled = true
    file    = "${env('NXF_LOG_D')}/${env('NXF_RUN_NAME')}-trace.tsv"
    sep = '\t'
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,queue,module,container,attempt,time,submit,duration,realtime,cpus,%cpu,cpu_model,memory,%mem,rss,peak_rss,vmem,peak_vmem,disk,rchar,read_bytes,syscr,wchar,write_bytes,syscw,vol_ctxt,inv_ctxt,workdir,scratch,error_action'
}
dag {
    enabled = true
    overwrite = true
    file    = "${env('NXF_LOG_D')}/${env('NXF_RUN_NAME')}-dag.html"
}